[submodule "zaidkilani/royalline-addons"]
	path = zaidkilani/royalline-addons
	url = git@github.com:zaidkilani/royalline-addons.git
	branch = master

[submodule "odoo/odoo"]
	path = odoo/odoo
	url = git@github.com:odoo/odoo.git
	branch = 12.0

[submodule "zaidkilani/royalline-addons1"]
	path = zaidkilani/royalline-addons1
	url = git@github.com:zaidkilani/royalline-addons.git
	branch = master

[submodule "zaidkilani/royalline-addons0"]
	path = zaidkilani/royalline-addons0
	url = git@github.com:zaidkilani/royalline-addons.git
	branch = master

[submodule "zaidkilani/royalline-addons2"]
	path = zaidkilani/royalline-addons2
	url = git@github.com:zaidkilani/royalline-addons.git
	branch = master

[submodule "zaidkilani/royalline-addons3"]
	path = zaidkilani/royalline-addons3
	url = git@github.com:zaidkilani/royalline-addons.git
	branch = master
